html, body{
    color: white;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

canvas{
    border: 2px solid #dddddd;
    background-image: url(./background/background-1.jpg);
}

img{
    display: block;
}

.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: auto;
    z-index: 4;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
    height: 50px;
    width: 100vw;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.navbar div a{
    color: white;
    text-decoration: none;
    transition: all 0.6 ease-out;
}


.navbar div a:hover {
    text-decoration: underline;
  }
  
.navbar div a:active {
    text-decoration: underline;
}


#play,#score{
    text-align: center;
    font-size: large;
    justify-content: center;
    border: .4rem solid black;
    border-radius: .5rem;
    text-shadow: 0 0 .5rem black;
    height: 45px;
    width: 180px;
    color: white;
    background: rgba(0,0,0,0.5);
    transition: all 0.75s ease;  
}

#standings{
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    align-content: center;
    justify-content: center;
    color: black;
}

#nextbox{
    position: absolute;
    left: 42%;
    top: 50%;
    background: rgba(245, 245, 245, 0.731);
    border: .4rem solid black;
    text-shadow: 0 0 .5rem black;
    color: #0f0f0f;
    font-size: x-large;
    box-shadow: 2px #0f0f0f;
    height: 20vh;
    width: 15vw;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
}
